body {
	background-image: url("images/power.gif"); 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h1 {
	font-family: 'Press Start 2P', cursive;
	color: white;
}

p {
	font-family: 'Press Start 2P', cursive;
	color: white;
	height: 20px;
	margin: 0 2%;
}

label {
	font-family: 'VT323', monospace;
	color: white;
	font-size: xx-large;
}

#theme-button {
	margin-bottom: 3%;
	font-family: 'VT323', monospace;
	font-size: large;
	letter-spacing: 5px;
	box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    -webkit-box-shadow: 0px 0px 0 0 #5bc0de inset , 0px 0px 0 #5bc0de inset;
}

#theme-button:hover {
	-webkit-box-shadow: 0px 50px 0 0px #5bc0de inset , 0px -50px 0 0px #5bc0de inset;
}

.page-header {
	border-bottom: none;
	margin-bottom: none;
}

.jumbotron {
	background-color: transparent;
	margin-top: 2%;
	padding: 2%!important;
}

.topicsBtn {
	font-family: 'Press Start 2P', cursive;
	margin: 1% 2%;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    -webkit-box-shadow: 0px 0px 0 0 #31708f inset , 0px 0px 0 #31708f inset;
}
.topicsBtn:hover{
    -webkit-box-shadow: 0px 50px 0 0px #31708f inset , 0px -50px 0 0px #31708f inset; 
}

#giphy-input {
	font-family: font-family: 'VT323', monospace;
	margin-left: 2%;
}

.giphyResult {
	margin: 2% 2%;
}

#add-giphy {
	margin-top: 2%;
}

@media only screen and (max-width: 768px) {
	.giphyResult {
		width: 100%;
	}

	.topicsBtn {
		width: 100%;
		white-space: normal;
	}
}

@media (min-width: 768px) {

}

@media (min-width: 992px;) {

}

@media (min-width: 1200px;) {

}